<?xml version="1.0" ?>

<robot name="r2c_legs" xmlns:xacro="http://wiki.ros.org/xacro">

  <property name="robot_name" value= "/r2/" />

  <xacro:include filename="$(find r2_description)/robots/r2c_legs.urdf.xacro" />

  <xacro:include filename="$(find r2_gazebo)/urdf/r2c_legs.gazebo.xacro" />
  <xacro:include filename="$(find r2_gazebo)/urdf/sensors/r2c_legs.gazebo.sensors.xacro" />

  <xacro:include filename="$(find r2_gazebo)/urdf/gazebo_plugins/gazebo_interface.xacro" />
  <xacro:include filename="$(find r2_gazebo)/urdf/gazebo_plugins/leg_grippers.xacro" />

</robot>
