<?xml version="1.0"?>
<launch>

  <!-- load world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" args="$(find r2_gazebo)/gazebo/r2_empty.world" output="screen" respawn="false" />

  <!-- start gui -->
  <node name="gazebo_gui" pkg="gazebo_ros" type="gui" respawn="false" output="screen" />

  <include file="$(find r2_gazebo)/launch/taskboard.launch"/>

</launch>

